// Colors

// Primary
$marine-blue: hsl(213, 96%, 18%);
$purplish-blue: hsl(243, 100%, 62%);
$pastel-blue: hsl(228, 100%, 84%);
$light-blue: hsl(206, 94%, 87%);
$strawberry-red: hsl(354, 84%, 57%);

// Neutral

$cool-gray: hsl(231, 11%, 63%);
$light-gray: hsl(229, 24%, 87%);
$magnolia: hsl(217, 100%, 97%);
$alabaster: hsl(231, 100%, 99%);
$white: hsl(0, 0%, 100%);

// 'Next step' Button
.button {
  position: relative;
  top: 7rem;
  left: 75%;
  cursor: pointer;
  padding: 13px 25px;
  font-size: 1.2rem;
  background-color: $marine-blue;
  color: $white;
  border: none;
  border-radius: 4px;

  &:hover {
    background-color: $purplish-blue;
  }

  &:active {
    background-color: $marine-blue;
  }
}

.buttons {
  position: relative;
}

#plan-b {
  left: 65%;
  top: 8.3rem;
}

// 'Go Back Button
.button-0 {
  position: relative;
  top: 8rem;
  cursor: pointer;
  background: none;
  border: none;
  &:hover {
    font-weight: 900;
    color: $marine-blue;
    padding: 1px;
  }
}

@media (min-width: 370px) and (max-width: 800px) {
  // Buttons container

  .attribution {
    display: none;
  }
}
